# Admin Credentials (Set in Cloudflare Variables / Secrets)
ADMIN_EMAIL=admin@st.ten.my.id
ADMIN_PASSWORD=ganti_password_admin_yang_kuat

# Auth Session Secret (Minimal 32 karakter acak)
AUTH_SECRET=rahasia_st_ten_my_id_super_secure_key_32chars!

# Optional custom domain / base url
NEXT_PUBLIC_SITE_URL=https://st.ten.my.id
